In [12]:
#practise pandas
import pandas as pd

data = {
  "Duration": [50, 40, 45],
  "Pulse": [109, 117, 110],
  "Calories": [409.1, 479.5, 340.8]
}

df = pd.DataFrame(data)
df.dtypes
newdf = df.astype('int32')
newdf.dtypes

Duration    int32
Pulse       int32
Calories    int32
dtype: object

In [13]:
df['Calories'].dtypes

dtype('float64')

In [1]:
import pandas as pd

df = pd.read_excel('data1.xlsx')
df

   ID   Roll
0   1  34454
1   2     34