# Reading dataset from github

# The StringIO class from the io module is used to create a file-like object from the text content of the response. 
#     response.text contains the content of the CSV file as a string, and StringIO helps to treat this string as a 
# file-like object that pd.read_csv can read.

In [27]:
import pandas as pd
import requests
from io import StringIO

url = "https://github.com/rashakil-ds/5-Minutes-to-Pandas/raw/main/Datasets/bike.csv"
response = requests.get(url)
#csv content convert
csv_content = StringIO(response.text)

#read with pandas
df = pd.read_csv(csv_content)
df.head

<bound method NDFrame.head of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1    1/1/2011       1   0     1   0        0        6
1            2    1/1/2011       1   0     1   1        0        6
2            3    1/1/2011       1   0     1   2        0        6
3            4    1/1/2011       1   0     1   3        0        6
4            5    1/1/2011       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  12/31/2012       1   1    12  19        0        1
17375    17376  12/31/2012       1   1    12  20        0        1
17376    17377  12/31/2012       1   1    12  21        0        1
17377    17378  12/31/2012       1   1    12  22        0        1
17378    17379  12/31/2012       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  cnt
0               0           1  0.24  0.2879  0.81     0.0000   16
1               0           1  0.22  0.2727  0.80     0.0000   40
2               0           1  0.22  0.2727  0.80     0.0000   32
3               0           1  0.24  0.2879  0.75     0.0000   13
4               0           1  0.24  0.2879  0.75     0.0000    1
...           ...         ...   ...     ...   ...        ...  ...
17374           1           2  0.26  0.2576  0.60     0.1642  119
17375           1           2  0.26  0.2576  0.60     0.1642   89
17376           1           1  0.26  0.2576  0.60     0.1642   90
17377           1           1  0.26  0.2727  0.56     0.1343   61
17378           1           1  0.26  0.2727  0.65     0.1343   49

[17379 rows x 15 columns]>

In [28]:
df.info

<bound method DataFrame.info of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1    1/1/2011       1   0     1   0        0        6
1            2    1/1/2011       1   0     1   1        0        6
2            3    1/1/2011       1   0     1   2        0        6
3            4    1/1/2011       1   0     1   3        0        6
4            5    1/1/2011       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  12/31/2012       1   1    12  19        0        1
17375    17376  12/31/2012       1   1    12  20        0        1
17376    17377  12/31/2012       1   1    12  21        0        1
17377    17378  12/31/2012       1   1    12  22        0        1
17378    17379  12/31/2012       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  cnt
0               0           1  0.24  0.2879  0.81     0.0000   16
1               0           1  0.22  0.2727  0.80     0.0000   40
2               0           1  0.22  0.2727  0.80     0.0000   32
3               0           1  0.24  0.2879  0.75     0.0000   13
4               0           1  0.24  0.2879  0.75     0.0000    1
...           ...         ...   ...     ...   ...        ...  ...
17374           1           2  0.26  0.2576  0.60     0.1642  119
17375           1           2  0.26  0.2576  0.60     0.1642   89
17376           1           1  0.26  0.2576  0.60     0.1642   90
17377           1           1  0.26  0.2727  0.56     0.1343   61
17378           1           1  0.26  0.2727  0.65     0.1343   49

[17379 rows x 15 columns]>

In [29]:
url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/refs/heads/main/Datasets/bike.csv'
df = pd.read_csv(url)
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [30]:
  # Reading dataset from GitHub using web get
#pip install wget
import wget
url = "https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/refs/heads/main/Datasets/bike.csv"

file_path = wget.download(url)

100% [..........................................................................] 1032184 / 1032184

In [31]:
df = pd.read_csv(file_path)
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1