<!-- About the pandas read excel/CSV file data -->

In [1]:
import pandas as pd

df = pd.read_excel('data1.xlsx',sheet_name="Sheet2")

In [2]:
df

     name  income
0  alamin   34454
1   sakil      34

In [15]:
import pandas as pd

df = pd.read_csv('data1-csv.csv' , sep=";")
df

   ID,Roll
0  1,34454
1     2,34

In [ ]:
# seprated folder theke csv read kora

In [16]:
df = pd.read_csv('F:\\ProjectLLM\\data1-csv.csv' , sep=";")
df

   ID,Roll
0  1,34454
1     2,34